@media screen and (max-width: 1366px) {
  .header {
    width: 990px;
  }

  .header__icon {
    margin-right: 20px;
  }

  .menu__item {
    margin: 0 10px;
  }

  .menu__search {
    margin-left: 20px;
    margin-right: 33px;
  }

  .menu__phone {
    margin-right: 28px;
  }

  .entry__arrow {
    display: none;
  }

  .entry__text {
    margin-left: 0;
  }

  .button {
    width: 150px;
  }

  .subscription {
    width: 990px;
  }

  .content {
    width: 570px;
  }

  .image-size {
    width: 400px;
    height: 252px;
  }

  .opportunities {
    width: 990px;
  }

  .opportunities__element {
    width: 478px;
  }

  .card__text {
    font-size: 16px;
  }

  .advantages {
    width: 990px;
  }

  .card {
    width: 314px;
    padding: 42px 9px;
    box-sizing: border-box;
  }

  .advantages__card_size {
    padding: 42px 60px 42px 14px;
  }

  .vacancy {
    width: 990px;
  }

  .compare {
    width: 990px;
  }

  .price {
    width: 990px;
  }

  .input__field {
    width: 266px;
  }

  .input-country__field {
    width: 198px;
  }

  .input {
    width: 314px;
  }

  .report {
    width: 990px;
  }

  .reason {
    width: 990px;
  }

  .reason__content {
    width: 490px;
  }

  .reason__image-size {
    width: 434px;
    height: 312px;
  }

  .reason-item {
    width: 218px;
  }

  .addition {
    width: 990px;
  }

  .addition-card_first-width {
    width: 287px;
  }

  .addition-card__second_width {
    width: 304px;
  }

  .addition-card_third-width {
    width: 308px;
  }

  .header-card__icon {
    margin-right: 40px;
  }

  .button_size {
    width: 288px;
  }

  .section {
    width: 990px;
  }

  .section__content_first-width {
    margin-right: 64px;
  }

  .section__content_second-width {
    margin-right: 64px;
  }

  .section__content_third-width {
    margin-right: 97px;
  }

  .contacts {
    width: 990px;
  }

  .contacts__icon {
    margin-right: 20px;
  }

  .hide {
    display: none;
  }

  .contacts__phone {
    width: 280pxs;
  }

  .contacts-information {
    width: 280px;
    margin-right: 22px;
  }

  .contacts-social {
    margin-right: 14px;
  }

  .application-item {
    display: none;
  }

  .footer__content {
    width: 990px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: 640px;
  }

  .burger {
    display: block;
    margin-left: 30px;
  }

  .icon_size {
    width: 62px;
    height: 30px;
  }

  .menu {
    display: none;
  }

  .search {
    display: none;
  }

  .menu__phone {
    margin-right: 127px;
  }

  .subscription {
    width: 640px;
  }

  .page__subscription {
    padding-top: 60px;
  }

  .page__compare {
    padding-top: 70px;
  }

  .subscription__logo {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .subscription__price {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .subscription__text {
    margin-bottom: 30px;
  }

  .subscription__img {
    display: none;
  }

  .opportunities {
    width: 640px;
  }

  .page__opportunities {
    padding-top: 47px;
  }

  .opportunities__element {
    width: 602px;
  }

  .element_margin-bottom {
    margin-bottom: 0;
  }

  .logo {
    font-size: 24px;
  }

  .elements {
    flex-direction: column;
  }

  .element__text {
    font-size: 18px;
    line-height: 28px;
  }

  .advantages {
    width: 640px;
  }

  .page__advantages {
    padding-top: 70px;
  }

  .cards {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    width: 310px;
    padding: 42px 17px;
  }

  .cards__content_wrap {
    display: flex;
    justify-content: space-between;
  }

  .cards__content_margin {
    margin-right: 20px;
  }

  .card_margin {
    margin-top: 0;
    margin-right: 20px;
  }

  .card__icon_size {
    width: 40px;
    height: 40px;
  }

  .card_padding {
    padding: 42px 40px 42px 17px;
  }

  .vacancy {
    width: 640px;
  }

  .page__vacancy {
    padding-top: 70px;
  }

  .vacancy___logo {
    margin-bottom: 30px;
  }

  .vacancy__text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .vacancy__elements {
    flex-direction: column;
  }

  .btn {
    margin: 10px 0;
  }

  .vacancy__content {
    flex-direction: column;
    height: 536px;
  }

  .company-management {
    margin: 18px 0;
  }

  .compare {
    width: 640px;
  }

  .compare__logo {
    margin-bottom: 20px;
  }

  .compare__table {
    padding-bottom: 22px;
  }

  .column-name {
    padding: 0 42px 0 50px;
  }

  .version-prof {
    margin-right: 66px;
  }

  .table__logo {
    margin-right: 234px;
  }

  .table-content {
    padding: 20px 60px 20px 50px;
  }

  .icon-version-prof {
    margin-right: 102px;
  }

  .table-content__text {
    width: 289x;
    margin-right: 104px;
  }

  .table-content_hide {
    display: none;
  }

  .table-content_border-bottom {
    border-bottom: 0;
  }

  .table-content_padding {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .slider {
    display: none;
  }

  .slider-dots {
    display: none;
  }

  .price {
    width: 640px;
  }

  .page__price {
    padding-top: 70px;
  }

  .price__logo {
    margin-bottom: 30px;
  }

  .form {
    flex-direction: column;
    justify-content: center;
  }

  .input {
    width: 100%;
    margin: 6px 0;
  }

  .form-footer {
    margin-top: 40px;
  }

  .form-footer__text {
    width: 326px;
  }

  .report {
    display: none;
  }

  .reason {
    width: 640px;
  }

  .page__reason {
    padding-top: 90px;
  }

  .reason__logo {
    margin-bottom: 30px;
  }

  .reason__content {
    float: left;
    width: 530px;
  }

  .reason__block {
    flex-direction: column;
    align-items: flex-start;
  }

  .reason-item {
    width: 196px;
  }

  .reason-item_size {
    width: 188px;
  }

  .item__text_green {
    font-size: 20px;
  }

  .item__text {
    font-size: 18px;
  }

  .reason__image {
    margin-left: 42px;
    margin-top: 30px;
  }

  .addition {
    width: 640px;
  }

  .addition-card {
    width: 304px;
  }

  .page__addition {
    padding-top: 102px;
  }

  .addition-card_hide {
    display: none;
  }

  .header-card__text {
    font-size: 16px;
  }

  .header-card__icon {
    margin-right: 40px;
  }

  .header-card__text_width {
    width: 134px;
  }

  .page__price_padding {
    padding-bottom: 66px;
  }

  .section {
    width: 640px;
    justify-content: space-between;
  }

  .page__section {
    padding-top: 58px;
    border-top: 1px solid #C0C0C0;
  }

  .section-header {
    display: flex;
  }

  .section-text {
    display: none;
  }

  .information_hide {
    display: none;
  }

  .section__icon {
    display: block;
  }

  .section__logo {
    font-size: 14px;
  }

  .section__content_first-width {
    width: 136px;
    margin-right: 0;
  }

  .section__content_second-width {
    width: 157px;
    margin-right: 0;
  }

  .section__content_third-width {
    width: 74px;
    margin-right: 0;
  }

  .section__content_fourth-width {
    text-align: center;
    width: 140px;
  }

  .contacts {
    width: 640px;
    flex-wrap: wrap;
    align-items: center;
  }

  .contacts-application {
    margin-top: 24px;
    width: 158px;
  }

  .contacts-social {
    margin-top: 24px;
  }

  .contacts-information {
    margin-right: 0;
    text-align: right;
  }

  .contacts__icon {
    margin-right: 280px;
  }

  .footer__content {
    width: 640px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    width: 290px;
  }

  .registration {
    width: 134px;
  }

  .registration_width {
    display: block;
  }

  .menu__phone {
    margin-bottom: 6px;
    margin-right: 0;
  }

  .header__icon {
    margin-right: 24px;
  }

  .entry {
    margin-right: 13px;
  }

  .header__button {
    margin-right: 0;
    padding: 0;
    margin: 0;
    width: 89px;
    background: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #FF6600;
  }

  .subscription {
    width: 290px;
  }

  .subscription__logo {
    font-size: 24px;
  }

  .opportunities {
    width: 290px;
  }

  .opportunities__element {
    width: 290px;
  }

  .element__text {
    font-size: 16px;
  }

  .logo {
    padding-top: 60px;
  }

  .advantages {
    width: 290px;
  }

  .card {
    width: 100%;
    padding: 22px 17px;
  }

  .card__text {
    font-size: 14px;
  }

  .cards__content_wrap {
    flex-direction: column;
  }

  .cards__content_margin {
    margin-right: 0;
  }

  .advantages__card_size {
    padding: 22px 43px 22px 17px;
  }

  .advantages__card_margin {
    margin-bottom: 0;
  }

  .card_margin {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 0;
  }

  .logo_width {
    width: 226px;
  }

  .vacancy {
    width: 290px;
  }

  .company-management__logo {
    font-size: 16px;
  }

  .improvements-element__text {
    font-size: 14px;
  }

  .compare {
    width: 290px;
  }

  .small-table {
    display: block;
  }

  .navigation {
    display: block;
  }

  .table {
    display: none;
  }

  .price {
    width: 290px;
  }

  .input__field {
    width: 236px;
  }

  .addition-card__text_height {
    height: 168px;
  }

  .contacts__icon {
    margin-bottom: 37px;
  }

  .contacts-information {
    margin-bottom: 12px;
  }

  .form-footer {
    flex-direction: column;
  }

  .form__button {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .input-country__field {
    width: 174px;
  }

  .form-footer__text {
    width: 288px;
    font-size: 12px;
  }

  .report {
    width: 290px;
  }

  .reason {
    width: 290px;
  }

  .reason__content {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 290px;
  }

  .first-element {
    flex-direction: column;
    margin-bottom: 0;
  }

  .second-element {
    flex-direction: column;
  }

  .information_hide {
    display: none;
  }
  
  .reason-item {
    margin-bottom: 32px;
  }

  .item__text {
    font-size: 16px;
  }

  .reason__image {
    margin: 0;
  }

  .reason__image-size {
    width: 300px;
    height: 214px;
  }

  .report {
    width: 290px;
  }

  .addition {
    width: 290px;
  }

  .addition-element {
    flex-direction: column;
  }

  .addition-card {
    width: 290px;
  }

  .addition-card:first-child {
    margin-bottom: 50px;
  }

  .section {
    width: 290px;
    flex-direction: column;
    align-items: center;
  }

  .section__content {
    margin-bottom: 17px;
  }

  .contacts {
    width: 290px;
    flex-direction: column;
    align-items: center;
  }

  .contacts__icon {
    margin-right: 0;
  }

  .contacts-information {
    text-align: center;
  }

  .contacts-social {
    margin: 0;
  }

  .application-item__apple {
    display: none;
  }

  .application-item__google {
    display: block;
  }

  .social-item_size {
    width: 45px;
    height: 45px;
  }

  .footer__content {
    width: 290px;
    justify-content: center;
  }

  .footer__text {
    text-align: center;
  }

  .footer__text:first-child {
    display: none;
  }
}
